  <div class="form-group">
    <label for="numberInput">Your Number</label>
    <input type="number" class="form-control" name="contactForm[phone]" id="numberInput" placeholder="Your GSM number">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Your Email address</label>
    <input type="email" class="form-control" name="contactForm[email]" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="name">Your Name</label>
    <input class="form-control" type="text" name="contactForm[name]" id="name" placeholder="Name Surname">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Anything you want to say to us</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="contactForm[text]" rows="5" placeholder="Your text goes here..." ></textarea>
  </div>
  <button class="btn btn-primary justify-content-end d-flex" type="submit" style="margin: auto;">Submit form</button>