<% include ./partials/header.ejs %>

<div class="row slider1row">
  <div class="col slider1col">
    <% include ./sliders/slider1.ejs %>
  </div>
</div>

<hr class="style-two">

<div class="row">
  <% include ./sliders/slider2.ejs %>
</div>
    
<hr class="style-two">

<hr class="style-two" id="jumping">
<div class="container">
  <div class="row">
      <div class="col" style="border: 3px solid #007bff; border-radius: 25px;">
        <hr class="style-two">
        <h1 align="center">Contact Us</h1>
        <hr class="style-two">
        <form action="/" method="GET">
          <% include ./contactForm.ejs %>  
        </form>
      </div>
  </div>
</div>
  
<hr class="style-two">
    
<% include ./partials/footer.ejs %>