<% include ./partials/header.ejs %>

<div class="row slider1row">
  <div class="col slider1col">
    <% include ./sliders/slider1.ejs %>
  </div>
</div>

<hr class="style-two">

<div class="row">
  <% include ./sliders/slider2.ejs %>
</div>
    
<hr class="style-two">
    <div class="container">
        <div class="row">
          <div class="col-md-12" style="text-align: center;"> 
            <h1>
              A Short Introduction of Bursa
            </h1>
          </div>
          <div class="col-md-12 videoWrapper">
            <iframe src="https://www.youtube.com/embed/u5Y3r1QhWdo"
            width="560" height="315" frameborder="0" allowfullscreen>
            </iframe>
          </div>  
        </div>
    </div>
<hr class="style-two" id="jumping">
<div class="container">
  <div class="row">
      <div class="col" style="border: 3px solid #007bff; border-radius: 25px;">
        <hr class="style-two">
        <h1 align="center">Contact Us</h1>
        <hr class="style-two">
        <form action="/" method="GET">
          <% include ./contactForm.ejs %>  
        </form>
      </div>
  </div>
</div>
  
<hr class="style-two">
    
<% include ./partials/footer.ejs %>